.shop-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;

}



@media only screen and (max-width: 800px) {
    .shop-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        grid-gap: 45px;
           
          
        }
      }

@media only screen and (max-width: 800px) {
    .home-container {
            display: grid;
        grid-template-columns: 1fr 1fr;
          
        }
      }

@media only screen and (max-width: 900px) {
    .shop-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
           
          
        }
      }